:root {
  /* Size */
  --card-width: 150px;
  --card-height: 240px;
  --section-margin: 120px;
  --gap: 30px;
  --br: 30px;

  /* Font Size */
  --fs-xl: 36px;
  --fs-lg: 24px;
  --fs-md: 18px;
  --fs-rg: 12px;
  --fs-sm: 10px;

  --shadow-default: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
